<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="/fragments/header-fragment :: head"></head>

    <!--/*@thymesVar id="aidDTOList" type="com.fornax.test.dto.AidDTO"*/-->

    <body>
        <div class="container text-center">
            <h1 class="text-center">AID MVP</h1>
            <br/><br/>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">
                    <a class="btn btn-lg btn-primary" th:href="@{/listAllAid}" id="listAllBtn">List all AID</a>
                    <a class="btn btn-lg btn-warning"  th:href="@{/}">Clear list</a>
                    <br/><br/>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <td>Aid id</td>
                                <td>Aid code</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:if="${aidDTOList != null}" th:each="aid : ${aidDTOList}">
                                <td th:text="${aid.id}"></td>
                                <td th:text="${aid.code}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>